html,
body {
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.contenido-body {
    flex: 1 0 auto;
}

#menu-catalogo {
    background-color: black;
    width: 100%;
    align-items: center;
    padding: 1.3rem;
}

#menu-catalogo a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-decoration: none;
}



#menu-catalogo:hover {
    text-decoration: none;
}

#menu-catalogo {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    padding-left: 6rem;
}

.contenedor-producto {
    text-align: center;
    margin-top: 2rem;
}

.row {
    float: left;
    width: 80%;
}

.contenedor {
    margin-bottom: 3rem;
    float: left;
    width: 80%;
}

.imagen-producto {
    width: 200px;
    height: 230px;
}

#menu-catalogo li a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    margin-top: 10px;
}

#menu-catalogo li {
    display: inline-block;
}

#menu-catalogo li:hover {
    background-color: #ffbd69
}


.titulo-Catalogo {
    text-align: center;
    font-family: Popins;
    margin: 2rem auto;
    font-weight: 800;
}

#cerrar-sesion {
    position: absolute;
    right: 2rem;
}

.descripcion-corta {
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    line-height: 1.3;
    font-size: 0.8rem;
}

.boton-admin {
    width: 49.1%;
    display: inline-block;
    margin: 0px;
}

.btn-eliminar,
.btn-eliminar:hover {
    text-decoration: none;
    color: #ededed;
}

/*Aside*/
aside {
    float: right;
    border: 2px solid black;
    margin: 20px;
}

/*Administrador*/
.agregar {
    width: 250px;
    height: 250px;
    margin-top: 15px;
    background: rgba(120, 120, 120, 0.8);
    border-radius: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.icon-plus {
    font-size: 150px;
}

.icon-plus:hover {
    cursor: pointer;
}

.agregar:hover {
    background: rgba(120, 120, 120, 1);
}



@media only screen and (max-width: 1300px) {

    .row {
        float: none;
        text-align: center;
        width: 100%;
        margin: 10 auto;
    }

    aside {
        float: none;
        text-align: center;
        margin: 10 auto;
        width: 80%;
    }

    aside {
        text-align: center;
        margin: 30px auto;

    }

    iframe {
        float: none;
        width: 90%;
    }



}